.device {
  display: block;
  padding: 1em;
}

.device input {
  margin: 0 0.75em;
}

.device .details {
  display: block;
  font-size: 0.8em;
  color: #666;

  padding: 0.7em 3.25em;
}

.device .details span {
  display: block;
}
